In [9]:
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host = " database-2.c3iym8yog7ht.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = "pethub",
    password = "addinedu5",
    database = "pethub"
)

In [10]:
cursor = conn.cursor()
cursor.execute("SELECT id, region FROM region_list")
result = cursor.fetchall()

region_list = []

for each in result:
    region_list.append(each[1])
region_list

['종로구',
 '중구',
 '용산구',
 '성동구',
 '광진구',
 '동대문구',
 '중랑구',
 '성북구',
 '강북구',
 '도봉구',
 '노원구',
 '은평구',
 '서대문구',
 '마포구',
 '양천구',
 '강서구',
 '구로구',
 '금천구',
 '영등포구',
 '동작구',
 '관악구',
 '서초구',
 '강남구',
 '송파구',
 '강동구']

In [11]:
df = pd.read_csv("../data/region_get_pet_type.csv")
df.head()

     유형  동물판매업소  지인 유상  인터넷  유기동물 입양
0    중구    28.1   62.6    -      7.0
1   용산구    15.5   52.5    -     32.0
2   성동구    27.9   65.0  0.8      3.0
3   광진구    38.5   44.3  0.3     15.1
4  동대문구    44.3   40.7    6      5.5

In [12]:
df["유형"] = [region_list.index(region) for region in df["유형"]]
df.head()

   유형  동물판매업소  지인 유상  인터넷  유기동물 입양
0   1    28.1   62.6    -      7.0
1   2    15.5   52.5    -     32.0
2   3    27.9   65.0  0.8      3.0
3   4    38.5   44.3  0.3     15.1
4   5    44.3   40.7    6      5.5

In [13]:
sql = "INSERT INTO region_pet_acquis (region_id, sale, friend, internet, abandoned) VALUES (%s, %s, %s, %s, %s)"
for i, row in df.iterrows():
    cursor.execute(sql, tuple(row))
    print(tuple(row))
    conn.commit()

(1, 28.1, 62.6, '-', 7.0)
(2, 15.5, 52.5, '-', 32.0)
(3, 27.9, 65.0, '0.8', 3.0)
(4, 38.5, 44.3, '0.3', 15.1)
(5, 44.3, 40.7, '6', 5.5)
(6, 16.1, 62.400000000000006, '6.3', 14.0)
(7, 38.3, 57.7, '0.6', 3.4)
(8, 26.4, 54.0, '0.3', 15.5)
(9, 20.6, 73.9, '-', 5.5)
(10, 23.8, 57.5, '0.6', 15.7)
(11, 28.5, 55.9, '0.8', 13.7)
(12, 19.1, 62.0, '-', 14.4)
(13, 36.1, 48.1, '4.3', 8.2)
(14, 24.5, 61.3, '6.5', 7.7)
(15, 31.4, 50.0, '1.9', 6.1)
(16, 11.8, 65.9, '2.1', 13.8)
(17, 12.2, 79.80000000000001, '-', 8.1)
(18, 14.8, 66.80000000000001, '5.8', 11.2)
(19, 18.3, 69.30000000000001, '2.2', 6.2)
(20, 21.7, 52.8, '4.2', 20.9)
(21, 21.5, 62.2, '0.2', 5.3)
(22, 26.2, 54.5, '0.2', 18.6)
(23, 13.2, 60.8, '0.7', 22.1)
(24, 28.9, 59.4, '0.6', 10.2)

In [14]:
conn.close()